<html>
<head>
  <title>Movie Lovers</title>
</head>
<body>

	<h1>Your search returned these movies. Which one of them was created on <%=  @trivia_year[0] %>?</h1>
	<h2>Click on the right answer</h2>
	<% if @search_array.kind_of?(Array) %>
		<% @search_array.each do |movie| %>
	 		<% if movie.year == @trivia_year[0] %>
				<img src="<%= movie.poster %>" width=200px height=300px onClick="alert('yay')"%>
			<% else %>
				<img src="<%= movie.poster %>" width=200px height=300px onClick="alert('nay')"%>
			<% end %>
		<% end %>
	<% else %>
		<h1>ERROR!</h1>
	<% end %>
	<br><br><br><br><br>

</body>
</html>