<html>
<head>
  <title>Movie Lovers</title>
</head>
<body>

	<h1>Your search returned these movies. Which one of them was created on <%=  @trivia_year[0] %>?</h1>
 
		<% @search_array.each do |movie| %>
			<img src="<%= movie.poster %>" width=200px height=300px %>
		<% end %>

	<br><br><br><br><br>

</body>
</html>